
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
*.props
BattleshipClient/obj/project.nuget.cache
BattleshipClient/obj/project.nuget.cache
BattleshipClient/obj/project.assets.json
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
BattleshipClient/obj/BattleshipClient.csproj.nuget.dgspec.json
.vs/Battleship/FileContentIndex/bc565823-0a20-4b0b-953f-e821cfb72a4b.vsidx
.vs/Battleship/FileContentIndex/b25894cb-8622-439b-87f8-eba527b4feb4.vsidx
.vs/Battleship/FileContentIndex/9863c957-f8a4-41fa-a985-f2fdc8de390d.vsidx
.vs/Battleship/FileContentIndex/8f478250-1231-400a-b84a-af988ac7c67e.vsidx
.vs/Battleship/FileContentIndex/8119730f-d3a5-4fcc-961d-ffe616d9d56f.vsidx
.vs/Battleship/FileContentIndex/7851c47b-5ba1-4d3a-b7d3-b420830f3ae5.vsidx
.vs/Battleship/FileContentIndex/51043235-ef12-4bea-a506-2065dc07378e.vsidx
.vs/Battleship/FileContentIndex/30ebfdc4-2ab7-4208-b358-3285f61d2638.vsidx
.vs/Battleship/FileContentIndex/2c1a95ec-b94a-40dc-912e-89ac1186151a.vsidx
.vs/Battleship/FileContentIndex/22e9b282-4e47-47b3-861a-a924ba102c97.vsidx
BattleshipClient/obj/project.nuget.cache
BattleshipClient/obj/project.assets.json
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
BattleshipClient/obj/BattleshipClient.csproj.nuget.dgspec.json
.vs/Battleship/FileContentIndex/bc565823-0a20-4b0b-953f-e821cfb72a4b.vsidx
.vs/Battleship/FileContentIndex/b25894cb-8622-439b-87f8-eba527b4feb4.vsidx
.vs/Battleship/FileContentIndex/9863c957-f8a4-41fa-a985-f2fdc8de390d.vsidx
.vs/Battleship/FileContentIndex/2c1a95ec-b94a-40dc-912e-89ac1186151a.vsidx
.vs/Battleship/FileContentIndex/22e9b282-4e47-47b3-861a-a924ba102c97.vsidx
BattleshipClient/obj/project.nuget.cache
BattleshipClient/obj/project.assets.json
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
BattleshipClient/obj/BattleshipClient.csproj.nuget.dgspec.json
.vs/Battleship/FileContentIndex/bc565823-0a20-4b0b-953f-e821cfb72a4b.vsidx
.vs/Battleship/FileContentIndex/b25894cb-8622-439b-87f8-eba527b4feb4.vsidx
.vs/Battleship/FileContentIndex/9863c957-f8a4-41fa-a985-f2fdc8de390d.vsidx
.vs/Battleship/FileContentIndex/2c1a95ec-b94a-40dc-912e-89ac1186151a.vsidx
.vs/Battleship/FileContentIndex/22e9b282-4e47-47b3-861a-a924ba102c97.vsidx
*.cache
BattleshipClient/obj/project.nuget.cache
BattleshipClient/obj/project.assets.json
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
BattleshipClient/obj/BattleshipClient.csproj.nuget.dgspec.json
.vs/Battleship/FileContentIndex/bc565823-0a20-4b0b-953f-e821cfb72a4b.vsidx
.vs/Battleship/FileContentIndex/b25894cb-8622-439b-87f8-eba527b4feb4.vsidx
.vs/Battleship/FileContentIndex/9863c957-f8a4-41fa-a985-f2fdc8de390d.vsidx
.vs/Battleship/FileContentIndex/2c1a95ec-b94a-40dc-912e-89ac1186151a.vsidx
.vs/Battleship/FileContentIndex/22e9b282-4e47-47b3-861a-a924ba102c97.vsidx
.vs/Battleship/DesignTimeBuild/.dtbcache.v2
.vs/Battleship/FileContentIndex/edc4325a-7646-42f4-b62e-3586aaf4b65b.vsidx
.vs/Battleship/FileContentIndex/e9668964-1b6c-4403-b37c-936974418ee9.vsidx
.vs/Battleship/FileContentIndex/e3f8b5e6-64f4-4b13-bae2-ddb62be8792e.vsidx
.vs/Battleship/FileContentIndex/5a9883d8-01e2-4f88-8080-8f6ae5560b75.vsidx
.vs/Battleship/FileContentIndex/3305465b-9441-4aa0-8c9c-801608658217.vsidx
.vs/Battleship/FileContentIndex/2f0eb801-cc01-4260-ba83-ea6fc8a5108d.vsidx
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/Debug/net7.0/BattleshipClient.csproj.CoreCompileInputs.cache
BattleshipClient/obj/Debug/net7.0/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.pdb
BattleshipClient/obj/Debug/net7.0/ref/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/refint/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/Debug/net7.0/BattleshipClient.csproj.CoreCompileInputs.cache
BattleshipClient/obj/Debug/net7.0/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.pdb
BattleshipClient/obj/Debug/net7.0/ref/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/refint/BattleshipClient.dll
*.dll
*.pdb
*.vsidx
*.editorconfig
*.dll
*.pdb
*.json
*.cache
*.v2
*.bin
BattleshipClient/obj/Debug/net7.0/staticwebassets.pack.json
BattleshipClient/obj/Debug/net7.0/staticwebassets.pack.json
BattleshipClient/obj/Debug/net7.0/staticwebassets.development.json
BattleshipClient/obj/Debug/net7.0/staticwebassets.build.json
BattleshipClient/obj/Debug/net7.0/refint/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/ref/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/BattleshipClient.pdb
BattleshipClient/obj/Debug/net7.0/BattleshipClient.genruntimeconfig.cache
BattleshipClient/obj/Debug/net7.0/BattleshipClient.GeneratedMSBuildEditorConfig.editorconfig
BattleshipClient/obj/Debug/net7.0/BattleshipClient.dll
BattleshipClient/obj/Debug/net7.0/BattleshipClient.csproj.FileListAbsolute.txt
BattleshipClient/obj/Debug/net7.0/BattleshipClient.csproj.CoreCompileInputs.cache
BattleshipClient/obj/Debug/net7.0/BattleshipClient.assets.cache
BattleshipClient/obj/Debug/net7.0/apphost.exe
BattleshipClient/obj/BattleshipClient.csproj.nuget.g.props
BattleshipClient/obj/BattleshipClient.csproj.nuget.dgspec.json
BattleshipClient/GameLogic/Facade/ReadyFacade.cs
BattleshipClient/bin/Debug/net7.0/BattleshipClient.staticwebassets.runtime.json
BattleshipClient/bin/Debug/net7.0/BattleshipClient.pdb
BattleshipClient/bin/Debug/net7.0/BattleshipClient.exe
BattleshipClient/bin/Debug/net7.0/BattleshipClient.dll
.vs/Battleship/v17/.suo
