<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://battleshipltserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4f7b977a-ea71-474d-96a8-198797bdc7e8/resourcegroups/Battleship-Game/providers/Microsoft.Web/sites/BattleshipLTServer</ResourceId>
    <UserName>$BattleshipLTServer</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://battleshipltserver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>