@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center hide-on-join">
    <div class="row align-items-center justify-content-center">
        <div class="form-row " style="width: unset !important" >
            <input type="text" id="nameText" class="form-input" placeholder="Enter your name" />
            <input type="hidden" id="name" value="" />
        </div>
        <div class="power-up-panel-col">
            <div class="power-up-icon" id="powerUpRandomize" onclick="randomizeShips()"><img src="img/randomize.png" /></div>
        </div>
    </div>
</div>
<div class="text-center">
    <h5 style="margin-bottom: 20px;" class="turn-screen-title"></h5>
    <div class="row">
        <div class="col">
            <div class="player-col">
                <h3 style="width: 100%;">Player 1 (You)</h3>
                <div id="your-board" class="battleship-board"></div>
            </div>
        </div>

        <div class="col">
            <div class="player-col w-100">
                <h3 style="width: 100%;">Player 2 (Enemy)</h3>
                <div id="enemy-board" class="battleship-board">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="hide-on-join" style="margin-top: 30px;">
        <div class="panel-col">
            <div class="panel-title">
                <h5>Select your ship:</h5>
            </div>

            <div id="ship-board">&nbsp;</div>
        </div>

    </div>

    <div style="margin-top: 30px;" class="hide-on-join">
        <input type="button" class="button btn-success" id="startButton" onclick="handleSplashScreen(true)" value="Ready!" />
    </div>
</div>

<div class="show-on-join row">
    <div class="panel-col">
        <div class="panel-title">
            <h5>Available cannons:</h5>
        </div>
        <div id="cannon-board"></div>
    </div>
    <div class="panel-col">
        <div class="panel-title">
            <h5>Available power ups:</h5>
        </div>
        <div class="power-up-panel text-center">
            <div class="row">
                <div class="power-up-panel-col power-up-clone">
                    <div class="power-up-icon" id="powerUpClone" onclick="cloneShip()"><img src="img/clone.png" /></div>
                    <div class="power-up-icon power-up-unclone d-none" id="powerUpUnclone" onclick="unCloneShip()"><img src="img/unclone.png" /></div>
                </div>
                <div class="power-up-panel-col power-up-fire">
                    <div class="power-up-icon" id="powerUpUnfire" onclick="unFire()"><img src="img/unfire.png" /></div>
                </div>
                <div class="power-up-panel-col power-up-scope">
                    <div class="power-up-icon" id="powerUpUnscope" onclick="unScope()"><img src="img/unscope.png" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

