@{
    ViewData["Title"] = "Home Page";
}
<div class=" console-container show-on-join flex-wrap">
    <div class="row w-100 mb-2">
        <div class="power-up-panel-col">
            <div class="power-up-icon console-button console-opener" onclick="openConsole();">
                <img src="/img/console.png" />
            </div>
            <div class="power-up-icon console-closer console-button d-none" onclick="closeConsole();">
                <img src="/img/console_close.png" />
            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="power-up-panel-col">
            <div class="power-up-icon console-button pause-button" onclick="pauseGame();">
                <img src="/img/pause.png" />
            </div>
            <div class="power-up-icon console-button pause-current d-none" onclick="unpauseGame();">
                <img src="/img/unpause.png" />
            </div>
        </div>
    </div>

</div>

<div class="pause-modal d-none">
    <div class="pause-wrapper">
        <div class="pause-popup d-none">
            <h6>Do you want to pause the game?</h6>
            <div class="d-flex flex-no-wrap w-100 justify-content-center align-items-center">
                <input type="button" class="btn btn-success mx-2 game-pause" onclick="confirmPause();" value="Yes" />
                <input type="button" class="btn btn-danger  mx-2 game-nopause" onclick="denyPause();" value="No" />
            </div>
        </div>
        <div class="unpause-popup d-none">
            <h6>Do you want to play again?</h6>
            <div class="d-flex flex-no-wrap w-100 justify-content-center align-items-center">
                <input type="button" class="btn btn-success mx-2 game-pause" onclick="confirmUnpause();" value="Yes" />
                <input type="button" class="btn btn-danger  mx-2 game-nopause" onclick="denyUnpause();" value="No" />
            </div>
        </div>
        <div class="pause-waiting">
            <h6>Waiting for other player to accept...</h6>
        </div>
        <div class="pause-current d-none">
            <h6>Game paused</h6>
        </div>
    </div>
</div>
<div class="console-modal d-none">
    <div class="console-wrapper">
        <div class="console-content">&nbsp;</div>
        <div class="console-input">
            <input type="text" class="console-text" name="console-text" placeholder="Enter command" />
            <input type="button" class="console-submit" value="Submit" onclick="sendMessage()" name="submit" />
        </div>
    </div>
</div>

<div class="text-center hide-on-join">
    <div class="row align-items-center justify-content-center">
        <div class="form-row " style="width: unset !important">
            <input type="text" id="nameText" class="form-input" placeholder="Enter your name" />
            <input type="hidden" id="name" value="" />
        </div>
        <div class="power-up-panel-col">
            <div class="power-up-icon" id="powerUpRandomize" onclick="randomizeShips()"><img src="img/randomize.png" /></div>
        </div>
    </div>
</div>
<div class="text-center">
    <h3 class="round-screen-counter show-on-join w-100 justify-content-center">0&nbsp;-&nbsp;0</h3>
    <h5 style="margin-bottom: 20px;" class="turn-screen-title"></h5>
    <div class="row">
        <div class="col">
            <div class="player-col">
                <h3 style="width: 100%;">Player 1 (You)</h3>
                <div id="your-board" class="battleship-board"></div>
            </div>
        </div>

        <div class="col">
            <div class="player-col w-100">
                <h3 style="width: 100%;">Player 2 (Enemy)</h3>
                <div id="enemy-board" class="battleship-board">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="hide-on-join  show-on-round" style="margin-top: 30px;">
        <div class="panel-col">
            <div class="panel-title">
                <h5>Select your ship:</h5>
            </div>

            <div id="ship-board">&nbsp;</div>
        </div>

    </div>

    <div style="margin-top: 30px;" class="hide-on-join show-on-round">
        <input type="button" class="button btn-success" id="startButton" onclick="handleSplashScreen(true)" value="Ready!" />
    </div>
</div>

<div class="show-on-join row">
    <div class="panel-col">
        <div class="panel-title">
            <h5>Available cannons:</h5>
        </div>
        <div id="cannon-board"></div>
    </div>
    <div class="panel-col">
        <div class="panel-title">
            <h5>Available power ups:</h5>
        </div>
        <div class="power-up-panel text-center">
            <div class="row">
                <div class="power-up-panel-col">
                    <div class="power-up-icon  power-up-clone" id="powerUpClone" onclick="cloneShip()"><img src="img/clone.png" /></div>
                    <div class="power-up-icon power-up-unclone d-none" id="powerUpUnclone" onclick="unCloneShip()"><img src="img/unclone.png" /></div>
                </div>
                <div class="power-up-panel-col">
                    <div class="power-up-icon  power-up-fire" id="powerUpUnfire" onclick="unFire()"><img src="img/unfire.png" /></div>
                </div>
                <div class="power-up-panel-col ">
                    <div class="power-up-icon power-up-scope" id="powerUpUnscope" onclick="unScope()"><img src="img/unscope.png" /></div>
                </div>
                <div class="power-up-panel-col">
                    <div class="power-up-icon  power-up-demolish" id="powerUpDemolish" onclick="demolish()"><img src="img/demolish.jpg" /></div>
                    <div class="power-up-icon power-up-undemolish d-none" id="powerUpUnDemolish" onclick="unDemolish()"><img src="img/undemolish.jpg" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

