@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center hide-on-join">
    <div class="form-row ">
        <input type="text" id="nameText" class="form-input" placeholder="Enter your name" />
        <input type="hidden" id="name" value="" />
    </div>

</div>
<div class="text-center">
    <h1 style="margin-bottom: 30px;" class="turn-screen-title"></h1>
    <h1 class="display-4">Battleships</h1>
    <div class="row">
        <div class="col">
            <div class="player-col">
                <h3 style="width: 100%;">Player 1 (You)</h3>
                <div id="your-board" class="battleship-board"></div>
            </div>
        </div>
        <div class="col">
            <div class="player-col">
                <h3 style="width: 100%;">Player 2 (Enemy)</h3>
                <div id="enemy-board" class="battleship-board">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="hide-on-join" style="margin-top: 30px;">
        <h1>Select your ship:</h1>
        <div id="ship-board">&nbsp;</div>
    </div>

    <div style="margin-top: 30px;" class="hide-on-join">
        <input type="button" class="button btn-primary" id="startButton" onclick="handleSplashScreen()" value="Start Game" />
    </div>
</div>
